.customHeaderMenuButton {
  float: left;
  margin: 0 0 0 3px;
}
.customHeaderLabel {
  float: left;
  margin: 0 0 0 3px;
}

.ag-column-drop-cell {
  background-color: #0c62ac !important;
}

.ag-column-drop-cell-text {
  color: #fff;
}
